# --- Core Django & Server ---
Django
gunicorn
dj-database-url
psycopg2-binary
python-dotenv
whitenoise

# --- AI & LangChain ---
google-generativeai
langchain
langchain-community
langchain-google-genai
chromadb
pypdf
unstructured

# --- Services ---
ddgs