{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
  <img src="{% static 'images/techjays_profile.jpg' %}" alt="Logo">
  <h2>Register</h2>

  {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}

  <form method="post">
    {% csrf_token %}
    
    {% for field in form %}
      <div class="form-group">
        {{ field }}
        {% if field.errors %}
          <div class="error-message">{{ field.errors.0 }}</div>
        {% endif %}
      </div>
    {% endfor %}
    
    <button type="submit">Register</button>
  </form>
  <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>
{% endblock %}